---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
AccessModifierOffset: -4
NamespaceIndentation: All
InsertNewlineAtEOF: true
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 8
PackConstructorInitializers: Never
