---
Checks: >
    -*,
    readability-*,
    modernize-*,
    bugprone-*,
    performance-*,
    -readability-avoid-unconditional-preprocessor-if,
    -modernize-use-trailing-return-type,
    -modernize-use-auto,
    -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '^((?!third_party).)*$'
FormatStyle: 'file'
