[submodule "third_party/physfs"]
	path = third_party/physfs
	url = git@github.com:NuVelocity/NuVelocity.physfs.git
	shallow = true
[submodule "third_party/SDL_mixer"]
	path = third_party/SDL_mixer
	url = git@github.com:libsdl-org/SDL_mixer.git
	shallow = true
[submodule "third_party/SDL_image"]
	path = third_party/SDL_image
	url = git@github.com:libsdl-org/SDL_image.git
	shallow = true
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = git@github.com:libsdl-org/SDL.git
	shallow = true
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = git@github.com:madler/zlib.git
	shallow = true
[submodule "third_party/SDL_ttf"]
	path = third_party/SDL_ttf
	url = git@github.com:libsdl-org/SDL_ttf.git
	shallow = true
